<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Flight</title>
</head>
<body>
<h2>Flights:</h2>
<Table>
<tr>
<th>Airlines</th>
<th>Departure City</th>
<th>Arrival City</th>
<th>Departure Time</th>
</tr>

<tr th:each="flight:${flights}">
<td th:text="${flight.operatingAirlines}"></td>
<td th:text="${flight.departureCity}"></td>
<td th:text="${flight.arrivalCity}"></td>
<td th:text="${flight.dateOfDeparture}"></td>
<td th:text="${flight.estimatedDepartureTime}"></td>
<td><a th:href="@{'showCompleteReservation?flightId='+${flight.id}}">Select</a></td>
</tr>

</Table>
</body>
</html>